
<p-panel header="User Repositories" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
             <p-dataList [value]="repositories" [paginator]="true" [rows]="10">
                    <ng-template let-repository pTemplate="item">
                        <div fxLayout="row" fxLayoutAlign="start center">
                                <div fxLayoutAlign="start center"><h2>{{repository?.name}}</h2></div>
                        </div>
                        <div fxLayout="row" style="padding-top: 20px;">
                                <div> <b>Language: </b> <i>{{repository?.language}}</i></div>
                        </div>
                        <div fxLayout="row" style="padding-top: 20px; padding-bottom: 30px;">
                                <div> <b>File Size: </b> <i>{{repository?.size}}KB</i></div>
                        </div>
                    </ng-template>
            </p-dataList>
</p-panel>
